body {

background: url(http://previews.123rf.com/images/natis76/natis761205/natis76120500030/13680396-Vintage-emblema-de-oro-Foto-de-archivo.jpg)

}

img { 

    width: 250px;

        height: 250px;

}